<h1><%= product.name %></h1>
<table class="table-product">
  <tr>
    <th>
      Price:
    </th>
    <td class="table-column-product">
      <%= product.price %>
    </td>
  </tr>
  <tr>
    <th>
      Available amount:
    </th>
    <td class="table-column-product">
      <%= product.quantity %>
    </td>
  </tr>
</table>

<form action="/<%= product.id %>" method="post">
  <input type="number" name="amount" value="1" id="amount">
  <button class="btn btn-primary" type="submit">Add to basket</button>
</form>
<%= flash.now[:result] %>
